.ISSlocation {
  &__title {
    padding: 15px;
  }

  &__infoText{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 100px;
  }
  
  &__map {
    width: 800px;
    position: relative;
    top: 21px;
  }
}