.MapISSlocation {
  width: 800px;
  position: relative;
  top: 21px;
}

.ISSlocation__title {
  padding: 15px;
}

.ISSlocation__infoText{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  padding: 100px;
}